@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container-color: #1a1e21;
    --second-color: #ffb02c;
    --text-color: #172317;
    --bg-color: #fff;
}

a{
    text-decoration: none;
}

li{
 list-style: none;
}

body{
    /* font-family:'popins','sans-serif'; */
    font-family:   Arial, sans-serif;
    width: 100%;
    background: var(--container-color);
}

/* ******************header section  ****************************/
header{
    top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar-container{
    display: flex;
    /* width: 65rem; */
    padding: 0px 37px;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar-items a{
    color:var(--bg-color);
    padding: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar .navbar-items a:hover{
    color: var(--second-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span {
    color: var(--second-color);
}

.login {
    padding: 8px 14px;
    font-weight: 500;
    background:var(--bg-color);
     width: 5rem;
     font-weight: 600;
    text-align: center;
    border: 1px solid white;
    border-radius: 64px;
}

.login:hover {
    background:transparent;
    transition: 0.3s;
    filter: blur(0.7px);
  -webkit-filter: blur(0.7px);
}

/* *****************banner section ******************* */
.banner{
    top: 0;
    background-image: url(./assests/banner.jpg);
    background-size: cover;
    opacity: 0.7;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.banner .banner-content{
    display: flex;
    margin: 0px 37px;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 100%;
    color: white;
}

.banner .content {
    margin-left: 4rem;
}

.banner .content h2{
    font-size: 5rem;
    margin-bottom: 1.5rem;

}

.banner .content  span{
    color: var(--second-color);
}

.banner .content p{
    font: 400;
    font-size:1.3rem ;
}


/*************** queries************************ */
@media screen and (max-width:1042px){
    .navbar-container{
        justify-content: space-around;
        padding: 0;
    }
    .banner{
            background-position: center;
    }
}

@media screen and (max-width:928px){
    .banner .content h2 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
.banner .banner-content{
    width: 20rem;
    margin-left: 3rem;
    padding-left:6rem ;
}
.banner .banner-content p{
    font-size: 1rem;
}
}