@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container-color: #020202;
    --second-color: #62e36c;
    --text-color: #172317;
    --bg-color: #fff;
    --black: #000000;
    --light-red: #dd4545;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    /* font-family:'popins','sans-serif'; */
    font-family: Arial, sans-serif;
    width: 100%;
    /* background: #000; */
    background: var(--container-color);
}

/* ******************header section  ****************************/
header {
    top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
}
.shadow{
    background: rgb(31, 29, 29);
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar-container {
    display: flex;
    /* width: 65rem; */
    padding: 0px 37px;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-items a {
    color: var(--bg-color);
    padding: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar .navbar-items a:hover {
    color: var(--second-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span {
    color: var(--second-color);
}

.login {
    padding: 8px 14px;
    font-weight: 500;
    background: var(--bg-color);
    width: 5rem;
    color: black;
    font-weight: 600;
    text-align: center;
    border: 1px solid white;
    border-radius: 64px;
}

.login:hover {
    background: transparent;
    transition: 0.3s;
    color: white;
    /* filter: blur(0.7px); */
    /* -webkit-filter: blur(0.7px); */
}

/* *****************banner section ******************* */
.banner {
    top: 0;
    background-image: url(./assests/banner2.webp);
    /* background-position:right; */
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.banner .banner-content {
    display: flex;
    margin: 0px 37px;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 100%;
    color: white;
}

.banner .content {
    margin-left: 4rem;
}

.banner .content h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;

}

.banner .content span {
    color: var(--second-color);
}

.banner .content p {
    font: 400;
    font-size: 1.3rem;
}

/* ******************playlist section******************/

.section{
    position: relative;  
    height: 450px;
    /* width: 1075px; */
    display: flex;
    align-items: center;
  }
  
  .section-title{
    color: var(--bg-color);
    display: flex;
    /* width: 30%; */
    /* justify-content: center; */
    padding-left: 2rem;
    margin-top:25px;
    margin-left: 2rem;
    font-size: 1.8em;
  }

  .section-title i{
    padding: 5px 15px;
    font-size:1.2em ;
  }
  .swiper{
    width: 90%;
  }
  
  .card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: var(--second-color);
    border-radius: 20px 20px 0 0;
  }
  
  .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
  }
  
  .section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background:var(--second-color);
  }
  
  .section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  
  .card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card .media-icons i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .card .media-icons i:hover{
    opacity: 1;
  }
  
  .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /* color: ; */
  } 
  
  .name-profession .name{
    font-size: 20px;
    font-weight: 600;
  }
  
  .name-profession .profession{
    font-size:15px;
    font-weight: 500;
  }
  
  .card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
  }
  
  .card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: var(--second-color);
  }
  
  .card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card .button button{
    background:var(--second-color);
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 11px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .button button:hover{
    background: #6616d0;
  }
  
  .swiper-pagination{
    position: absolute;
  }
  
  .swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--second-color);
  }
  
  .swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color:var(--second-color);
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: var(--second-color);
  }
  .credit a{
    text-decoration: none;
    color:var(--second-color);
    font-weight: 800;
  }
  .credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
 

/* artist section  */

.popular-artists {
	position: relative;
	width: 80%;
  margin: auto;
	height: auto;
	box-sizing: border-box;
}
/* container of the popular artists */
.popular-artist-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
/* images in the popular artists section */
.popular-artists div a img {
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
}
/* content of the container in popular artists section */
.popular-artists > div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
}
/* I generally use the combination of 3 properties, i.e. display:flex, justify content and align items to position an element */
/* at the center of the screen. this is my favourite way. there are other options too, but I prefer this one because */
/* it also takes care of the flexibility of the contents of the div */
.popular-artist-content > a > div {
	position: relative;
	display: flex;
  margin: 1rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.popular-artist-content > a > div > div {
	position: absolute;
	display: flex;
	/* top: 0px;
    left: 0px; */
	top: 0px;
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity ease-in-out 0.1s;
}
/* additional icons in this section */
.popular-artist-content a div div i {
	margin: auto;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
} /* added hovering effects */
.popular-artist-content a div div:hover {
	opacity: 0.5;
}
.popular-artist-content a div div:hover i {
	opacity: 1;
}
/* text portion in popular artists section */
.popular-artists div p {
	text-align: center;
  color: white;
}

.music-themes-2 {
	position: relative;
	height: auto;
	width: 100%;
  margin-bottom: 5rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/* this outer div contains the inner div and the image and text */
.outer-div {
	width: 19.5vw;
	height: 13vw;
	overflow: hidden;
	min-width: 123px;
	min-height: 82px;
	margin: 5px;
	cursor: pointer;
}
/* inner div portion */
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
}
/* divs corresponding to each of the 3 sub sections in the themes section */
/* party */
.music-themes-2 .outer-div:nth-child(1) .inner-div {
	background-image: url("assests/music\ themes\ 2/party.jpg");
}
/* electronic */
.music-themes-2 .outer-div:nth-child(2) .inner-div {
	background-image: url("assests/music\ themes\ 2/electronic.jpg");
}
/* road */
.music-themes-2 .outer-div:nth-child(3) .inner-div {
	background-image: url("assests/music\ themes\ 2/road.jpg");
}

.music-themes-2 .outer-div:nth-child(4) .inner-div {
	background-image: url("assests/music\ themes\ 2/workout.webp");
}
/* hivering actions: the text should be scaled down on hover and the background image should be scaled up at the same time gap */
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.75);
}
.inner-div::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
}
/* adjusting inner div properties */
.inner-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.outer-div .inner-div span {
	/* color: white; */
	color: white;
	font-size: 2.5vw;
}

/* footer section  */

.footer-container{
	width: 100vw;
	background-color: #1e1c1c8c;
	display: flex;
	justify-content: space-around;
	padding: 3rem 0 3rem 0;
}

/*footer left side start*/
.footer-logo{
	/*background-color: yellowgreen;*/
	width: 18vw;
	margin-left: 7rem;
}
/* .footer-logo h2{
	font-size: 2.7rem;
} */
.footer-logo p{
	/* font-size: 1.4rem; */
	color: #6e6b6b;
  color: white;
	padding: 1.5rem 0rem;
	line-height: 2.1rem;
}
.footer-logo h2,h3{
  color: white;
}
.footer-logo a{
	text-decoration: none;
}
.fa{
	background-color: var(--black);
	color: #ffffff;
	padding: .6rem;
	border-radius: .3rem;
}
.icons{
	margin: 0rem 1.5rem;
}
/*footer left side ends*/
/*footer center starts*/
.footer-links{
	width: 32vw;
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
}
.footer-links ul a li{
	list-style-type: none;
	padding: 1rem 0rem;
  font-size: 1rem;
  color: white;
}
.footer-links ul a{
	text-decoration: none;
	color: #6e6b6b;
}	
/*footer center ends*/

/*footer right section*/
.footer-contactus{
	width: 17vw;
}
.footer-contactus h2{
	/* font-size: 1.9rem; */
  color: white;
}
.footer-contactus button{
	padding: 1.4rem 2rem;
    /* font-size: 1.6rem; */
    background: var(--light-red);
    border: none;
    border-radius: .4rem;
    color: #ffff;
    margin-top: 1.6rem;
    cursor: pointer;
}
.copywright-tag{
	background-color: lightgray;
	padding: 1.5rem;
	/* font-size: 1.5rem; */
	text-align: center;
}




/*************** queries************************ */
@media screen and (max-width:1042px) {
    .navbar-container {
        justify-content: space-around;
        padding: 0;
    }

    .banner {
        background-position: center;
    }
}

@media screen and (max-width:928px) {
    .banner .content h2 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .banner .banner-content {
        width: 20rem;
        margin-left: 3rem;
        padding-left: 6rem;
    }

    .banner .banner-content p {
        font-size: 1rem;
    }
}

@media(max-width: 986px){
	html{
		font-size: 55%;
	}
}
@media(max-width: 800px){
	.footer-container{
		flex-direction: column;
		align-items: center;
	}
	.footer-logo{
		width: 32vw;
		margin-bottom: 3rem;
		margin-left: 0rem;
	}
	/* .footer-links{
		flex-direction: column;
		text-align: center;
	} */
	.footer-links h3{
		font-size: 2.4rem;
		margin: 1rem 0px;
	}
	.footer-contactus{
		width: 21vw;
		margin-top: 2.4rem;
		text-align: center;
	}
	.footer-contactus h2{
		font-size: 2.5rem;
	}
}

@media (max-width:769px) {
  .banner{
    height: 70vh;
  }
  .popular-artists div p {
    font-size: 2rem;
}
  .popular-artists{
    width: 90% !important;
  }
  /* .card{
    width: 295px !important;
    margin: 15px 34px;
  } */
  .outer-div {
    width: 40.5vw;
    height: 29vw;
  }

  .popular-artists div a img {
    width: 19vw;
    height: 16vw;
  }
}

@media (max-width:426px){
  .outer-div {
    width: 70.5vw;
    height: 37vw;

  }
  .popular-artists div p {
    font-size: 1rem !important;
}
}


.home .container {
  /* margin-left: 245px; */
  /* margin-right: 245px; */
  position: relative;
  /* min-height: 72vh;    */
  text-align: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  padding: 48px;
  background: linear-gradient(105.7deg, #5ffca0 9.76%, #b0dc94 40.43%, #8D5DF5 87.38%);
  background-size: cover;
  background-attachment: fixed;
}

.bottom {
  position: fixed;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
}

.icons {
  margin-top: 14px;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.songItem {
  height: 106px;
  display: flex;
  background-color: white;
  color: black;
  margin: 27px 28px;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  font-size: 1.2rem;
}

.songItem img {
  width: 90px;
  margin: 0px 13px;
  border-radius: 34px;
}

.songList {
  margin: auto;
  margin-top: 55px;
}

.timestamp {
  margin: 0 23px;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: 'Varela Round', sans-serif;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

#masterSongName {
  display: block;
}

@media screen and (max-width:1850px) {
  .songItemContainer {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  .songItem {
      height: 90px;
      margin: 17px 28px;
      font-size: 1.2rem;
  }
  .songItem img {
      width: 67px;
  }
  .container {
      padding: 0;
  }
}

@media screen and (max-width:1259px) {
  .songItemContainer {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .songList {
      margin: auto;
      margin-top: 0px;
      padding: 12px 12px 12px;
  }
}

@media screen and (max-width:1096px) {}

@media screen and (max-width:967px) {
  .icons {
      margin-left: 82px;
  }
}

@media screen and (max-width:884px) {
  .home {
      margin-left: 0px;
  }
}

@media screen and (max-width:689px) {
  .songItem {
      height: 68px;
      margin: 12px 5px;
      font-size: 1rem;
  }
  .songItem img {
      width: 50px;
  }
}

@media screen and (max-width:542px) {
  .songItemContainer {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 1fr;
  }
}


.navigation-bar {
	display:flex;
  justify-content: center;
  margin: 10px;
}
/* animation for the website logo */
@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* website logo image */
.website-logo img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	animation-name: rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
/* website title and general description */
.title-combo > div {
	vertical-align: middle;
	display: inline-block;
}
/* animation for favoutites text */
@keyframes flexible {
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scaleX(1);
	}
}
/* favourites text */
.favs {
	animation-name: flexible;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	perspective: 10000px;
	transform-style: preserve-3d;
	animation-iteration-count: infinite;
}

/* search bar */
.search-bar {
	width: 20%;
	position: relative;
}
/* changing the default style of the input bar */
.search-bar input {
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	border-radius: 18px;
	border: none;
  margin: 10px;
	padding: 5px;
	font-weight: 500;
	text-align: center;
	transition: all ease-in-out 0.1s;
}
/* search icon for input bar */
.search-ico {
	color: rgba(0, 0, 0, 0.5);
}
/* mic icon for input */
.mic-ico {
	color: rgba(0, 0, 0, 0.5);
}
/* search icon */
.search-bar > div:nth-child(1) {
	display: inline-block;
	position: absolute;
	width: min-content;
	left: 5%;
	top: 30%;
	transition: all ease-in-out 0.1s;
}
/* mic icon */
.search-bar > div:nth-child(3) {
	display: inline-block;
	position: absolute;
	width: min-content;
	right: 0%;
  top: 30%;
	transition: all ease-in-out 0.1s;
}
/* when the user clicks on the search bar, there should be no blue outlining */
input:focus {
	outline: none;
}
/* animation for bell image */
@keyframes ringing_bell {
	0% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}
/* notification bell image */
.notification-bell img {
	width: 40px;
	height: 30px;
  margin-top: 6px;
  margin-left: 10px;
	animation-name: ringing_bell;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
/* profile picture of the user */
.profile-picture img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}

.songList h1{
  color: #000000;
  font-size:3rem;
}